@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Love+Ya+Like+A+Sister|Ubuntu');

$box-shadow: 0 0px 10px 0px #fff;

body{
  background-color: black;
}
#app{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Ubuntu', 'sans-serif';
}
#app h1{
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  color: #fff;
}

p{
  color: #fff;
  font-size: 20px;
}

.earthquake-btn-select{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
  background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    font-family:'Kaushan Script', cursive;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    &:hover{
      background-color: transparent;
      border: 1px solid white;
      box-shadow: $box-shadow;
      color: white;
    }

    &:active{
      transform: translateY(4px);
    }
}

.earthquake-details-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 30px;
}
.earthquake-details{
  display: block;
  max-width: 200px;
  border: 1px solid white;
  background-color: transparent;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover{
    color: black;
    background-color: #4CAF50;
    border: 1px solid transparent;
  }
  &:hover p{
    color: black;
  }
}
